body {
    background-image: url("../images/hearts.jpg");
}

h2 {
    text-align: center;
}

.user-photo-form {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 40%;
    text-align: center;
    background-color: white;
    border: 0.5px solid #ff40b8;
}

.confirm {
    position: absolute;
    top: 60%;
    left: 20%;
}

.cancel {
    position: absolute;
    top: 60%;
    left: 60%;
}

.step {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}