.hidden-send-message {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1;
}

.send-message-form {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 20%;
    height: 20%;
    background-color: white;
    text-align: center;
}

.area {
    resize: none;
    top: 10%;
}

.user-info {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: auto;
    text-align: center;
}

.user-photo {
    position: relative;
    width: 40%;
    height: auto;
}

.info {
    position: relative;
    top: 10%;
}